.component-level_navigation_bar {
    position: relative;
    top: 20px;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px !important;

    z-index: 1000;
    box-sizing: border-box !important;
}

.component-level_navigation_bar >:first-child {
    width: 650px !important;
    max-width: 40vw !important;
}

.component-level_navigation_bar >:last-child {
    position: relative !important;
    right: 0 !important;
    top: 0 !important;

    width: 40px !important;
    height: 40px !important;   
}

.component-level_navigation_bar >:last-child img {
    width: 60% !important;
    height: 60% !important;
}