.component-sidebar {
    position: fixed;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 1em;

    height: 100%;
}

div.component-sidebar button.component-text_button {
    grid-area: 0 / 0 / span 4 / 0;
}

div.component-sidebar .component-sidebar-icon_buttons {
    grid-area: 4 / 0 / span 1 / 0;
    display: flex;
    justify-content: start;
}
