.component-island {
    position: absolute;
    width: 50%;
    height: 100vh;
    left: 2em;

    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    pointer-events: auto;
    
    scroll-snap-align: start;
    z-index: 2;
}

.component-island img {
    width: 100%;
    height: auto;

    user-select: none;
    pointer-events: none;
    animation: bob 10s ease-in-out infinite;
}

@keyframes bob {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

@media (max-width: 768px) {
    .component-island {
        position: relative !important;
        top: auto !important;
        left: 0 !important;
        width: 100% !important;
        height: 100vh !important;

        display: flex;
        align-items: flex-start;   
        justify-content: center;

        padding-top: 390px;   

        scroll-snap-align: start;
        flex-shrink: 0;
    }

    .component-island img {
        width: 220px !important;
        max-width: 220px !important;
        min-width: 220px !important;
        height: auto;
    }
}