@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    /*Typography*/
    --text-main: #FFFFFF;
    --text-inverse: #111111;
    /*Backgrounds*/
    --bg-primary-dark: #01182D;
    --bg-secondary-dark: #000A14;
    --bg-primary-light: #63c3ff;
    --bg-secondary-light: #f8f9fa;
    /*UI-elements*/
    --ui-box-primary-dark: #DAB900;
    --ui-box-primary-light: #FFD700;
    --ui-accent: #9C3E04;
    /*Assets*/
    --ui-progress: #44E300;
    --ui-landscape-dark: #153A06;
    --ui-landscape-light: #3B8C18;
    /*Neutral*/
    --neutral-light-dark: #F8F9FA;
    --neutral-dark-dark: #111111;
}

/*Primary-Font*/
@font-face {
    font-family: 'Gamer';
    src: url('assets/fonts/Gamer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@media (prefers-color-scheme: light) {
    :root{
        --bg-primary-dark: var(--bg-primary-light);
        --bg-secondary-dark: var(--bg-secondary-light);
        --ui-landsape-dark: var(--ui-landscape-light);
        --ui-box-primary-dark: var(--ui-box-primary-light);
        --text-main: #111111;
        --text-inverse: #FFFFFF;
    }
}

[data-theme="dark"] {
    --bg-primary-dark: #01182D;
    --bg-secondary-dark: #000A14;
    --ui-landscape-dark: #153A06;
    --ui-box-primary-dark: #DAB900;
    --text-main: #FFFFFF;
    --text-inverse: #111111;
}

*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
   background-color: var(--bg-primary-dark);
   color: var(--text-main);
   font-family: 'VT323', 'Courier New', monospace;
   transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3 {
    font-family: 'Gamer', 'Lucida Console', 'Courier New', monospace;
}

*,*::before, *::after {
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}