.menu-scroll_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

.menu-scroll_container::-webkit-scrollbar {
    display: none;
}

.menu-background-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500vh;
   
    background: linear-gradient(180deg,
      var(--sky-1) 0%,
      var(--sky-2) 15%,
      var(--sky-3) 40%,
      var(--sky-4) 65%,
      var(--sky-5) 90%);
   
    z-index: 0;
}

.menu-island_container {
    position: absolute;
    top: 0;
    left: 45em;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
    pointer-events: none;
}

@keyframes bob {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(10px); }
}

.component-sidebar,
.component-navigation_bar,
.freeze {
    z-index: 100 !important;
}

@media (max-width: 768px) {
    .menu-island_container {
        left: 0 !important;
        width: 100% !important;
        height: auto !important;

        display: flex;
        flex-direction: column;
        justify-content: flex-start !important;
        align-items: center;

        z-index: 2;
    }

    .menu-scroll_container {
        scroll-snap-type: y mandatory;
    }
}